HTTP_PORT=3000

MONGO_USER=user
MONGO_PWD=pwd
MONGO_HOST=host
MONGO_PORT=port
MONGO_DB=dbname
MONGO_COLLECTION=collname

MLAB_URL=mlab.com/api-url
MLAB_APIKEY=mlap-api-ley

SLACK_WEBHOOK=url-for-your-incoming-webhook
