link(rel='stylesheet', href='css/style.css', type='text/css')
link(rel='stylesheet', href='vendor/slick/slick.css', type='text/css')

div.slider
  div#slide-1
    h1#total #{total}
    div.byline coffees served
    div.byline since 26 Jan 2017

    div#lottery No winner yet, this week!

  div#slide-2
    canvas#ten-day-chart(width='90%' height='50%')

  div#slide-3
    h2#time

audio#winner
  source(type='audio/mpeg' src='sounds/carneval-rio.mp3')

div#rs-licence
  a(href="https://responsivevoice.org") ResponsiveVoice-NonCommercial
  |
  | licensed under 
  a(href="https://creativecommons.org/licenses/by-nc-nd/4.0/")
    img(title="ResponsiveVoice Text To Speech", src="//responsivevoice.org/wp-content/uploads/2014/08/95x15.png", alt="95x15", width="95", height="15")

script(src='js/bundle.js')
