link(rel='stylesheet', href='css/style.css', type='text/css')

div#total #{total}
div.byline coffees served
div.byline since 26 Jan 2017

div#lottery No winner yet, this week! 😞

audio#winner
  source(type='audio/mpeg' src='sounds/carneval-rio.mp3')

// include histogram.pug

script(src='js/bundle.js')
script(src='http://code.responsivevoice.org/responsivevoice.js')
