link(rel='stylesheet', href='css/style.css', type='text/css')
link(rel='stylesheet', href='vendor/slick/slick.css', type='text/css')

div.slider
  div#slide-1
    h1#total #{total}
    div.byline coffees served
    div.byline since 26 Jan 2017

    div#lottery No winner yet, this week!

  div#slide-2
    h2#time

audio#winner
  source(type='audio/mpeg' src='sounds/carneval-rio.mp3')

// include histogram.pug

script(src='js/bundle.js')
script(src='//code.responsivevoice.org/responsivevoice.js')
