body {
  margin: 0;
  padding 0;
  background-color: black;
  font-family: monospace;
  overflow: hidden;
  color: yellow;
  font-weight: bold;
}

div.slide {
  position: relative;
  height: 100%;
}
div.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Slide 0 - today vs yesterday */
div.daily {
  text-align: center;
  vertical-align: baseline;
  margin: 2vw 0;
}
span#yesterday, span#today {
  font-size: 4vw;
  border-bottom: 1vw solid yellow;
  padding: 0.5vw 0;
}
span#yesterday {
  margin-right: 6vw;
}

span#yesterday-value {
  font-size: 14vw;
}

span#today-value {
  font-size: 20vw;
}

/* slide 3 - display current time */
div#time {
  font-size: 12vw;
  text-align: center;
}

div#phrase {
  font-size: 6vw;
  text-align: center;
  padding: 2vw;
}

/* generic, but mostly used for overall total value and time */
h1, h2 {
  text-align: center;
  vertical-align: middle;
  margin: 0 0;
  padding: 0 0;
}

h1 {
  margin-top: 1vw;
  font-size: 12vw;
}

h1#total {
  font-size: 14vw;
  /* padding-top: 4vw; */
}

div.byline {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}

div#lottery {
  margin-top: 1em;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 4vw;
}

div#lottery span.number {
  color: black;
  background-color: yellow;
}

/* display responsive voice licence */
div#rs-licence {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
}
div#rs-licence, div#rs-licence a {
  color: white;
}
/* on tiny devices hide licence */
@media (max-height: 350px) {
  div#rs-licence {
    display: none;
  }
}
