body {
  margin: 3em 1em;
  background-color: black;
  font-family: monospace;
  overflow: hidden;
}

h1, h2 {
  color: yellow;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  margin: 0 0;
  padding: 0 0;
}

h1 {
  font-size: 110px;
}

h2#time {
  padding-top: 50px;
  font-size: 70px;
}

div.byline {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
}

div#lottery {
  margin-top: 1em;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
}

div#lottery span.number {
  color: black;
  background-color: yellow;
}

div#rs-licence, div#rs-licence a {
  color: white;
}
/* on tiny devices hide licence */
@media (max-height: 350px) {
  div#rs-licence {
    display: none;
  }
}
