body {
  margin: 4em;
  background-color: black;
  font-family: monospace;
  overflow: hidden;
}

div#total {
  color: yellow;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1000%;
}

div.byline {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
}

div#lottery {
  margin-top: 1em;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
}

div#lottery span.number {
  color: black;
  background-color: yellow;
}
